.gradle/
.DS_Store
build/
local.properties
.classpath
.project
.settings/
.idea/
.sync/
bin/
gen/
*.swp
*.iml
app/*.apk
app/manifest-merger-*-report.txt
.*.swo
*.apk
app/src/main/jniLibs
app/libwally-core
app/gdk
*.so
GreenBits.iml
app/app.iml
gdk/src/main/java/com/blockstream/green_gdk/GDK.java
gdk/src/main/java/com/blockstream/libwally/Wally.java
keystore.properties
gdk_commit
local.keystore
app_keys.txt

data/src/include
data/src/libs

.kotlin/

.claude/

# iosGreenApp
**/build/
xcuserdata
!src/**/build/
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
report.xml
