.gradle/
/local.properties
.DS_Store
build/
local.properties
.classpath
.project
.settings/
.idea/
bin/
gen/
*.swp
*.iml
app/*.apk
app/manifest-merger-*-report.txt
.*.swo
*.apk
app/src/main/jniLibs
app/libwally-core
app/gdk
*.so
GreenBits.iml
app/app.iml
gdk/src/main/java/com/blockstream/libgreenaddress/GDKJNI.java
gdk/src/main/java/com/blockstream/libwally/Wally.java
keystore.properties
gdk_commit
local.keystore
green/src/main/res/raw/app_keys.txt

common/src/include
common/src/libs
