[submodule "scrypt"]
	path = app/scrypt
	url = https://github.com/wg/scrypt.git
[submodule "material-dialogs"]
	path = app/material-dialogs
	url = https://github.com/greenaddress/material-dialogs.git
	branch = v0.8.5.8_ga
[submodule "bitcoinj"]
	path = bitcoinj
	url = https://github.com/greenaddress/bitcoinj.git
	branch = release-v0.14-ga 
[submodule "jawampa"]
	path = jawampa
	url = https://github.com/greenaddress/jawampa.git
[submodule "secp256k1"]
	path = app/secp256k1
	url = https://github.com/greenaddress/secp256k1.git
	branch = laanwj_arm_rebased
[submodule "PasswordEditText"]
	path = app/PasswordEditText
	url = https://github.com/greenaddress/PasswordEditText.git
