[submodule "material-dialogs"]
	path = app/material-dialogs
	url = https://github.com/greenaddress/material-dialogs.git
	branch = v0.8.5.8_ga
[submodule "bitcoinj"]
	path = bitcoinj
	url = https://github.com/greenaddress/bitcoinj.git
	branch = release-v0.14-ga 
[submodule "jawampa"]
	path = jawampa
	url = https://github.com/greenaddress/jawampa.git
[submodule "PasswordEditText"]
	path = app/PasswordEditText
	url = https://github.com/greenaddress/PasswordEditText.git
[submodule "libwally-core"]
	path = app/libwally-core
	url = https://github.com/jgriffiths/libwally-core.git
