.gradle/
/local.properties
.DS_Store
build/
local.properties
.classpath
.project
.settings/
.idea/
bin/
gen/
*.swp
*.iml
app/*.apk
app/manifest-merger-*-report.txt
.*.swo
*.apk
app/src/main/jniLibs
app/libwally-core
*.so
GreenBits.iml
app/app.iml
bitcoinj/tools/checkpoints.txt
bitcoinj/tools/checkpoints-testnet.txt
bitcoinj/tools/checkpoints-testnet
bitcoinj/tools/checkpoints
