build_tag_release:
  image: greenaddress/android@sha256:d59365ad8d61059e915d233a6afcbcb69be6320f0f62f2cb75d2730fe1e6819f
  artifacts:
    name: "greenbits-release-$CI_COMMIT_REF_NAME"
    expire_in: 1 hour
    when: on_success
    paths:
    - app/build/outputs/apk/*.apk
    - app/build/outputs/mapping/*/release/mapping.txt
  tags:
    - ga
  script:
    - cd $CI_PROJECT_DIR
    - pushd app && ./prepare_fdroid.sh && popd
    - ./gradlew assembleProductionRelease assembleBtctestnetRelease assembleProduction_21Release assembleBtctestnet_21Release

build_tag_osx_release:
  tags:
    - osx
  script:
    - cd $CI_PROJECT_DIR
    - pushd app && ./prepare_fdroid.sh && popd
    - ./gradlew assembleProductionRelease assembleBtctestnetRelease assembleProduction_21Release assembleBtctestnet_21Release

package_release:
  tags:
    - garelease
  stage: deploy
  artifacts:
    expire_in: 14 days
    paths:
    - app/build/outputs/*
    when: on_success
  script: cd $CI_PROJECT_DIR/app/build/outputs/apk && /opt/process_release
  dependencies:
  - build_tag_release
