stages:
    - format
    - build
    - test
    - deploy

test_format:
  stage: format
  tags:
    - fastosx
    - osx
  script:
    - ./tools/fetch_gdk_binaries.sh
    - fastlane run swiftlint

build_unsigned_debug:
  stage: build
  tags:
    - fastosx
    - osx
  variables:
    GDK_COMMIT: latest
  script:
    - if [ "$GDK_COMMIT" != "latest" ]; then GDK_OPT="-c $GDK_COMMIT"; fi
    - ./tools/fetch_gdk_binaries.sh $GDK_OPT
    - fastlane build_unsigned_debug

build_signed_adhoc_release:
  stage: build
  tags:
    - fastosx
    - osx
  artifacts:
    name: "green-ios-dev-$CI_COMMIT_REF_NAME"
    expire_in: 1 day
    when: on_success
    paths:
      - dev
  variables:
    GDK_COMMIT: latest
    COUNTLY_APP_KEY: $COUNTLY_APP_KEY_DEV
    COUNTLY_APP_HOST: $COUNTLY_APP_HOST
  script:
    - echo $COUNTLY_APP_KEY
    - if [ "$GDK_COMMIT" != "latest" ]; then GDK_OPT="-c $GDK_COMMIT"; fi
    - ./tools/fetch_gdk_binaries.sh $GDK_OPT
    - fastlane build_signed_adhoc_release
    - mkdir tmp && unzip ./dev/Green-dev.app.dSYM.zip -d tmp
    - ./Pods/Countly/countly_dsym_uploader.sh $COUNTLY_APP_HOST $COUNTLY_APP_KEY ./tmp/gaios.app.dSYM
    - ./tools/distribute.sh --app dev/Green-dev.ipa --dest dev --url https://storage.googleapis.com/green-ios-builds/$CI_PROJECT_NAME-$CI_COMMIT_SHA
    - echo "https://storage.googleapis.com/green-ios-builds/$CI_PROJECT_NAME-$CI_COMMIT_SHA/index.html"
    - echo "https://storage.googleapis.com/green-ios-builds/$CI_PROJECT_NAME-$CI_COMMIT_SHA/index.html" | qrencode -t UTF8

build_signed_prod_release:
  stage: deploy
  when: manual
  tags:
    - fastosx
    - osx
  artifacts:
    name: "green-ios-$CI_COMMIT_REF_NAME"
    expire_in: 1 day
    when: on_success
    paths:
      - release
  variables:
    COUNTLY_APP_KEY: $COUNTLY_APP_KEY_PROD
    COUNTLY_APP_HOST: $COUNTLY_APP_HOST
  script:
    - ./tools/fetch_gdk_binaries.sh
    - fastlane build_signed_prod_release
    - mkdir tmp && unzip ./release/Green.app.dSYM.zip -d tmp
    - ./Pods/Countly/countly_dsym_uploader.sh $COUNTLY_APP_HOST $COUNTLY_APP_KEY ./tmp/gaios.app.dSYM

ui_tests:
  stage: test
  tags:
    - osx
  when: manual
  needs: ["build_unsigned_debug"]
  before_script:
    - xcrun simctl boot "iPhone 11"
    - xcrun simctl privacy "iPhone 11" grant all io.blockstream.green
  script:
    - cd $CI_PROJECT_DIR
    - export LC_ALL=en_US.UTF-8
    - export LANG=en_US.UTF-8
    - ./tools/fetch_gdk_binaries.sh --simulator
    - pod install
    - fastlane ui_tests
  after_script:
    - xcrun simctl shutdown "iPhone 11"

cp_gcloud:
  image: blockstream/gcloud-docker-tf:1.1.7
  tags:
    - ga
  stage: deploy
  script:
    - echo gs://green-ios-builds/$CI_PROJECT_NAME-$CI_COMMIT_SHA
    - TMPF=$(mktemp) || exit 1
    - echo $GCLOUD_PUSH_KEY > $TMPF
    - export GOOGLE_APPLICATION_CREDENTIALS=$TMPF
    - gcloud auth activate-service-account --key-file=$TMPF
    - gsutil cp -r $CI_PROJECT_DIR/dev gs://green-ios-builds/$CI_PROJECT_NAME-$CI_COMMIT_SHA
    - echo "https://storage.googleapis.com/green-ios-builds/$CI_PROJECT_NAME-$CI_COMMIT_SHA/index.html"
  dependencies:
    - build_signed_adhoc_release
