<?xml version="1.0" encoding="utf-8"?>
<!--
 F-DROID HACK (for some reason checkupdates expects package name to match appid)
    package="com.greenaddress.greenbits_android_wallet"
-->
<manifest package="com.greenaddress.greenbits.ui"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"/>

    <application
        android:name="com.greenaddress.greenbits.GreenAddressApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MnemonicActivity"
            android:label="@string/title_activity_mnemonic"/>

        <activity-alias
            android:name=".NFC"
            android:label="@string/app_name"
            android:targetActivity=".MnemonicActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <data android:mimeType="x-gait/mnc"/>
                <data android:mimeType="x-ga/en"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".TabbedMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <data android:scheme="bitcoin"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <data android:scheme="bitcoin"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <data android:mimeType="application/bitcoin-paymentrequest"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.greenaddress.greenbits.GaService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".PinActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PinSaveActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".FirstScreenActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"/>
        <activity
            android:name="de.schildbach.wallet.ui.ScanActivity"
            android:label="@string/title_activity_qr_scanner"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".monitor.NetworkMonitorActivity"
            android:label="@string/action_network"/>
        <activity
            android:name=".RequestLoginActivity"
            android:launchMode="singleTask"
            android:label="Login">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"/>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter"/>
        </activity>
        <activity
            android:name=".TransactionActivity"
            android:label="@string/txSubTitle"/>
        <activity
            android:name=".TwoFactorActivity"
            android:label="@string/twoFacSetupHeader"/>
        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".preferences.NetworkSettingsActivity"
            android:label="@string/pref_header_network"/>
        <activity android:name=".FailHardActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".WatchOnlyLoginActivity"/>
        <activity android:name=".MainExchanger"
            android:configChanges="orientation|screenSize"
            android:label="@string/exchanger"
            android:theme="@style/AppThemeMark"
            android:parentActivityName=".TabbedMainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TabbedMainActivity" />
        </activity>
        <activity android:name=".SellActivity"
            android:label="@string/exchangerSellTitle"
            android:theme="@style/AppThemeMark"
            android:parentActivityName=".MainExchanger" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainExchanger" />
        </activity>
        <activity android:name=".BuyActivity"
            android:label="@string/exchangerBuyTitle"
            android:theme="@style/AppThemeMark"
            android:parentActivityName=".MainExchanger" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainExchanger" />
        </activity>

    </application>

</manifest>
