<?xml version="1.0" encoding="utf-8"?><!--
 F-DROID HACK (for some reason checkupdates expects package name to match appid)
    package="com.greenaddress.greenbits_android_wallet"
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenaddress.greenbits.ui">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:name="com.greenaddress.greenbits.GreenAddressApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MnemonicActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            android:label="@string/id_restore"
            />

        <activity-alias
            android:name=".NFC"
            android:label="@string/app_name"
            android:targetActivity=".MnemonicActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="x-gait/mnc" />
                <data android:mimeType="x-ga/en" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".TabbedMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>

        <service
            android:name="com.greenaddress.greenbits.GaService"
            android:enabled="true"
            android:exported="false"
            />

        <activity
            android:name=".PinActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="bitcoin" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:scheme="bitcoin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="application/bitcoin-paymentrequest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PinSaveActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            />
        <activity
            android:name=".FirstScreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            />
        <activity
            android:name=".SubaccountSelectActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".ScanForResultActivity"
            android:screenOrientation="portrait"
            android:label="@string/id_qr_scanner"
            />
        <activity
            android:name=".monitor.NetworkMonitorActivity"
            android:label="@string/id_network_monitor" />
        <activity
            android:name=".RequestLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter" />

        </activity>
        <activity
            android:name=".TransactionActivity"
            android:screenOrientation="portrait"
            android:label="@string/id_transaction_details"
            />
        <activity
            android:name=".TwoFactorActivity"
            android:screenOrientation="portrait"
            android:label="@string/id_1s_twofactor_set_up"
            />
        <activity
            android:name=".preferences.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/id_settings"
            />
        <activity
            android:name=".FailHardActivity"
            />
        <activity
            android:name=".WatchOnlyLoginActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ReceiveActivity"
            android:screenOrientation="portrait"
            android:label="@string/id_receive"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".ScanActivity"
            android:screenOrientation="portrait"
            android:label="@string/id_send_to" />
        <activity
            android:name=".onboarding.TermsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".onboarding.WordsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".onboarding.SelectionActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".onboarding.SuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".onboarding.InfoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".onboarding.SecurityActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".SendAmountActivity"
            android:label="@string/id_send"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".SendConfirmActivity"
            android:label="@string/id_send"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
        <activity
            android:name=".MessagesActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".TrezorPinActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".TrezorPassphraseActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".NetworkSettingsActivity"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>
